<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home-page.css">

    <title>Home Page</title>
</head>
<body>
    <!-- Navbar -->
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <!-- Main Container -->
    <div class="container main-container">

        <!-- Posts Section -->
        <div th:each="story : ${storyList}" class="posts">

            <div class="top-section">
                <p th:text="${story.storyFor}"></p>
                <p th:text="${#temporals.format(story.createdAt ,'dd MMM yyyy')}"></p>
                <p th:if="${story.isPositive}" >Positive</p>
                <p th:if="${!story.isPositive}" >Negative</p>
            </div>

            <div class="mid-section">
                <p th:text="${story.title}" ></p>
                <p th:text="${story.story}" ></p>
            </div>

            <div class="bottom-section">
                <a th:href="@{'/story/'+ ${story.storyId}}">See Full Review</a>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>